{% extends 'main/base.html' %}

{% block title %} Main {% endblock %}



{% block body %}

<section class="batch-list p-3">
    <h3>Batches: </h3>
    {% for batch in all_batches %}
    <div class="card bg-light w-50 m-3">
        <div class="card-header">
            <ul class="nav nav-pills justify-content-end card-header-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#">View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Delete</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{batch.batch_no}}</h5>
            <h6 class="card-text">{{batch.session}}</h6>
            <ul class="list-unstyled d-flex">
                <h6>Semesters: </h6>
                {% for semester in batch.semesters %}
                    {% if semester.batch_no == batch.batch_no  %}
                        <li class="mx-2">
                            <a href="semester_view/{{semester.batch_no}}/{{semester.semester_no}}">{{semester.semester_no}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if request.user.is_superuser and batch.semesters|length < 8 %}
                    <li class="mx-2">
                        <a href="add_semester/{{batch.batch_no}}">+</a>
                    </li>
                {% endif %}
            </ul>
            <p><a href="students_view/{{batch.batch_no}}">Students</a></p>
        </div>
    </div>
    {% endfor %}

    {% if request.user.is_superuser %}
    <form method="post" class="w-25 bg-light border border-primary p-3"> {% csrf_token %}  
        <h6>Add new batch</h6>
        <div class="form-group">
            <label for="batch_no">Batch no</label>
            <select class="form-control" name="batch_no" id="batch_no1">
              <option>CSE-10</option>
              <option>CSE-11</option>
              <option>CSE-12</option>
              <option>CSE-13</option>
              <option>CSE-14</option>
            </select>
        </div>
        <div class="form-group">
            <label for="session">Session</label>
            <select class="form-control" name="session" id="session1">
              <option>2016-17</option>
              <option>2017-18</option>
              <option>2018-19</option>
              <option>2019-20</option>
              <option>2021-22</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    {% endif %}
</section>

{% endblock %}

{% block js %}

<!-- **This js code section should be used in all pages that has a form in it** -->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<!-- **** -->

{% endblock %}