{% extends 'main/base.html' %}

{% block title %} {{semester_no}} ({{batch_no}}) {% endblock %}


{% block body %}

<h1>Batch: {{batch_no}}</h1>
<h4>Semester: {{semester_no}}</h4>

<section class="course-list p-3">
    <h3>Courses: </h3>
    {% for course in courses %}
    <div class="card bg-light w-50 m-3">
        <div class="card-header">
            <ul class="nav nav-pills justify-content-end card-header-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/main/course_view/{{batch_no}}/{{semester_no}}/{{course.course_type}}/{{course.course_code}}">View</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Delete</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{course.course_title}} ({{course.course_type}})</h3>
            <h5 class="card-title">Course code: {{course.course_code}}</h5>
            <h5 class="card-title">Credits: {{course.course_credits}}</h5>
            <h5 class="card-title">Teacher: {{course.course_teacher}}</h5>
        </div>
    </div>
    {% endfor %}

    {% if request.user.is_superuser %}
    <form method="post" class="w-25 bg-light border border-primary p-3"> {% csrf_token %}  
        <h6>Add new course</h6>
        <div class="form-group">
            <label class="form-label">Course title</label>
            <input type="text" name="course_title"> <br>
            <label class="form-label">Course code</label>
            <input type="text" name="course_code"> <br>
            <label class="form-label">Course type</label>
            <input type="text" name="course_type"> <br>
            <label class="form-label">Credits</label>
            <input type="text" name="course_credits"> <br>
            <label class="form-label">Course teacher</label>
            <input type="text" name="course_teacher"> <br>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    {% endif %}
</section>

{% for tb_sheet in table_sheet %} 
    {% for k,v in tb_sheet.course_results.items %}
        {{k}} : {{v.LG}} <br>
    {% endfor %}
{% endfor %}

<section class="m-2">
    <h4>Tabulation sheet:</h4>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col" rowspan="2">Reg no</th>
                <th scope="col" rowspan="2">Student Name</th>
                {% for course in courses %}
                    <th scope="col" colspan="2">{{course.course_code}} <br> {{course.course_credits}}</th>
                {% endfor %}
                <th scope="col" colspan="3">Semester: {{semester_no}}</th>
                {% if semester_no > 1 %}
                    <th scope="col" colspan="3" class="bg-secondary text-light">Semester: 1 to {{semester_no}}</th>
                {% endif %}
            </tr>
            <tr class="text-center">
                {% for course in courses %}
                    <th>GP</th>
                    <th>LG</th>
                {% endfor %}
                <th>credit</th>
                <th>GPA</th>
                <th>LG</th>
                {% if semester_no > 1 %}
                    <th class="bg-secondary text-light">credit</th>
                    <th class="bg-secondary text-light">CGPA</th>
                    <th class="bg-secondary text-light">LG</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for tb_sheet in table_sheet %}
                <tr class="text-center">
                    <td>{{tb_sheet.reg_no}}</td>
                    <td>{{tb_sheet.name}}</td>
                    {% for course, result in tb_sheet.course_results.items %}
                        <td>{{result.GP}}</td>
                        <td>{{result.LG}}</td>
                    {% endfor %}
                    <td>{{tb_sheet.current_semester_credits}}</td>
                    <td>{{tb_sheet.current_semester_GPA}}</td>
                    <td>-</td>
                    {% if semester_no > 1 %}
                        <th class="bg-secondary text-light">{{tb_sheet.overall_credits}}</th>
                        <th class="bg-secondary text-light">{{tb_sheet.overall_CGPA}}</th>
                        <th class="bg-secondary text-light">-</th>
                {% endif %}
                </tr> 
            {% endfor %}
        </tbody>
      </table>
</section>

{% endblock %}


{% block js %}

<!-- **This js code section should be used in all pages that has a form in it** -->
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
<!-- **** -->

{% endblock %}